{% extends 'polls/base.html' %}
    {% block content %}
    <div class="index_content">
        <h1>Questions</h1>
        <ul>
            <h2>The most recent questions</h2>
            {% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:vote' question.id %}"> {{ question.id }} {{ question.question_text }}</a></li><p>
            {% endfor %}
        </ul>
    </div>
    {% endblock content %}