{% extends 'polls/base.html' %}
    {% block content %}

    {% if user.is_authenticated %}
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %} <p>{{ error_message }}</p>{% endif %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" >
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
    {% else %}
    <div>
        <h1>To polls in segment first need authenticated</h1>
        <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
    </div>
    {% endif %}
    {% endblock content %}
